.top{
  height: 50px;
  padding: 20px 25px;
  text-align: right;

}
.top a{
  margin:0 5px;
}
.img {
   margin-top:200px;
  margin-bottom:20px;
}
.shapebar{
  margin:0 auto;
  width:600px;
  border-radius:100px;
  border:1.5px solid #dfe1e5;
}
.shapebar:hover{
  box-shadow: 2px 2px 10px 2px #dfe1e5;
}
.shapebar:focus-within{
  box-shadow: 2px 2px 10px 2px #dfe1e5;
  outline:none;
}
.input1{
  background-color: white;
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
}
.voice{
  height:20px;
  position:relative;
  bottom: 1.5px;
  left:25px;
}
#glass{
  color: rgb(154,160,166);
  height: 15px;
  width: 15px;
  position:relative;
  right: 540px;
  bottom: 2px;
}
.buttons{
  margin-top: 30px;
}
.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}
.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}
.text{
  margin-top: 20px;
}
#footers {
      position: fixed;
      padding: 10px 10px 0px 10px;
      bottom: 20px;
      width: 100%;
      /* Height of the footer*/ 
      height: 40px;
}
#foot1{
  text-align: left;
  padding-left: 0;
  color: blue;
}
